body {
    background-color: #04cd2994
}

#p1 {
    color: rgb(255, 0, 0); 
    text-align: left;
}

#p2 {
    color: rgb(255, 0, 255);
    text-align: center;
}
/* a prioridade do css são as IDs (#blablabla), pois sao mais específicas */

#p3 {
    text-align: right;
}

